<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search User</title>
   <link rel="stylesheet" href="/stylesheets/search.css">
</head>

<body>
  <header>
    <nav class="nav-bar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="search">Search</a></li>
        <li><a href="create">Create</a></li>
        <li><a href="delete">Delete</a></li>
        <li><a href="update">Update</a></li>
        <li><a href="show-data">Show Data</a></li>
      </ul>
    </nav>
  </header>

  <section>
    <div class="container">
      <h1 class="h1">This is the Search Page</h1>
      <form action="/search-request" method="post">
        <% if (Array.isArray(results) && results.length == 0) { %>
          <p style="color: red; font-weight: bold;">No Data Found</p>
          <% } else if(Array.isArray(results) && results.length > 0) {%>
            <p style="color: lime; font-weight: bold;">Data Found</p>
        <% } %>
        <div class="name">
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" required>
        </div>
        <div class="email">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" required>
        </div>

        <input type="submit" value="Search" class="btn">
      </form>
    </div>
  </section>

  <main>
    <% if(typeof results !== 'undefined' && results.length > 0){ %>
    <h2>Search Results</h2>
    <% results.forEach((element)=>{ %>
      <div class="search-data">
      <h1 class="one">Name : <%= element.name %></h1>
      <h1 class="two">Email : <%= element.email %></h1>
      <h1 class="three">Password: <%= element.password %></h1>
      <h1 class="four">Contact : <%= element.contact %></h1>
    </div>
    <% }); %>
    <% } %>
 
  </main>
</body>

</html>