<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update User</title>
  <link rel="stylesheet" href="/stylesheets/update.css">
</head>
<body>
  <header>
    <nav class="nav-bar">
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="search">Search</a></li>
          <li><a href="create">Create</a></li>
          <li><a href="delete">Delete</a></li>
          <li><a href="update">Update</a></li>
          <li><a href="show-data">Show Data</a></li>
        </ul>
    </nav>
  </header>
  <section>
    <div class="container">
      <h1 class="h1">This is the Update Page</h1>
      <% if (message) { %>
        <p style="color: blue; font-weight: bold;"><%= message %></p>
      <% } %>
      <form action="/update-request" method="post">
        <div class="name">
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" required>
        </div>
        <div class="email">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" required>
        </div>
        <div class="Old">
          <label for="password">Old password:</label>
          <input type="password" name="password" id="password" required>
        </div>
        <div class="new">
          <label for="new-password">New password:</label>
          <input type="password" name="npassword" id="new-password" required>
        </div>

        <input type="submit" value="Update" class="btn">
      </form>
    </div>
  </section>
</body>
</html>
